

body {
   background: #ddd; 
}

.container {
    width: 320px;
    height: 400px;
    border-bottom: 12px solid #515359;
    border-radius: 32px;
    margin: 0 auto;
    margin-top: 100px;
    background: #616268;
    padding: 20px;
}

.displey-wrapper {
    text-align: center;
    margin-top: 20px;
}

#calc-input {
    width: 90%;
    height: 40px;
    background: #d0d6e1;
    border-bottom: 7px solid #c3c8d4;
    border-radius: 12px;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: right;
    padding: 5px;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.calc-button {
    width: 21%;
    float: left;
    background: #fff;
    font-family: 'Jura', sans-serif;
    margin: 6px;
    height: 46px;
    border-bottom: 4px solid #e4e5e6;
    border-radius: 12x;
    border-radius: 10px;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    cursor: pointer;
}

.buttons-wrapper {
    padding: 10px;
    height: 100%;
    margin-top: 25px;
}
.orandge {
    background: #f89734;
    border-bottom: 7px solid #df8339;
}

